<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/results" class="<%= path === '/results' ? 'active' : '' %>"
          >Results</a
        >
      </li>
      <li class="main-header__item">
        <a
          href="/add-result"
          class="<%= path === '/add-result' ? 'active' : '' %>"
          >Add result</a
        >
      </li>
      <li class="main-header__item">
        <a href="/tables" class="<%= path === '/tables' ? 'active' : '' %>"
          >Tables</a
        >
      </li>
    </ul>
  </nav>
</header>
